body {
    background: linear-gradient(112deg, #381828, #4a314f, #4d4f79, #3e719f, #1794b9) no-repeat fixed;
    background-size: 400% 400%;
    overflow: hidden;
    color: rgb(237, 242, 244);
    animation: gradient 15s ease infinite;
}

.container {
    transition: all 0.2s;
    position: relative;
}

.card-inner {
    display: flex;
    flex-wrap: nowrap;
    width: inherit;
    height: inherit;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.card-inner:not(#tooltip) {
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.circle {
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -150px;
    left: -25px;
}

.circle:nth-child(2) {
    bottom: 100px;
    right: -30px;
    animation: move-down1 2s ease-in infinite alternate-reverse;
}

@keyframes move-up6 {
    to {
        transform: translateY(-15px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(15px);
    }
}

@keyframes puff-in-center {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}